extends layout

block content
  h1= title
  -let telephone = results;
  div(class="container_fluid")
    each item,index in telephone
        div(class="row" onclick=`buy(${index})`)       
            div(class="col-sm-2") #{item.telephone}
            div(class="col-sm-2") #{item.size}
            div(class="col-sm-2") #{item.cost}
  script.
      function buy(indexnumber){
        //indexnumber=indexnumber+1;
        alert('You purchased item '+ indexnumber)
      }