extends layout

block content
  h1=title

  if (toShow == null)
   h2 No instance to delete
  else
   - let telephoneid = toShow._id
   - let telephone_type = toShow.telephone
   - let telephonecost = toShow.cost
   - let telephonesize = toShow.size
  div
    div.row
     div(class='telephoneAttr mr-3') telephone ID is:
     div #{telephoneid}
    div.row
     div(class='telephoneAttr mr-3') telephone Type is:
     div #{telephone_type}
    div.row
     div(class='telephoneAttr mr-3') telephone Size is:
     div #{telephonesize}
    div.row
     div(class='telephoneAttr mr-3') telephone Cost is:
     div #{telephonecost}